/dist/
/*.lkshf
.DS_Store
*.lkshs
*.lkshw
leksah.lkshs
leksah.lkshw
*~
/.shelly/
.cabal-sandbox/
*.sandbox.config
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
cabal.sandbox.config
cabal.config
Raytracer/src/Main
*.ppm
